
.front-Page{
  height: 100%;
  width: 100%;
}

.vada {
  display:inline-block;
  text-align:center;
  width: 100%;/*1280*/
  height: 100vh;/*1364*/

  
}
.image{
  padding-top:40px;
  padding-bottom: 20px;
}
.image img{
  
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  width:15%;
  
  justify-content: center;
  align-items: center;
  text-align: center;
  

}
.company{
  padding-top: 50px;
  align-items: center;
  justify-content: center;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



